#container {
    background-image: url("pics/man.jpg");            
}   

QPushButton#button1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-radius: 12px;
    background: rgba(30, 30, 30, 0.64);
}

QPushButton#button2 {
    color: #1E1E1E;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-radius: 12px;
    background: rgba(230, 146, 97, 0.00);
}

QLabel#label {
    color: #1E1E1E;
    text-align: center;
    font-family: Onest;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

QTimeEdit#timer {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-radius: 4px;
    border: 1px solid #EAEAEA;
    background: #FFF;
}


QTimeEdit::up-button,
QTimeEdit::down-button {
    width: 0px;
    height: 0px;
    border: none;
}


QPushButton#button1:hover {
    border-radius: 12px;
    background: #1E1E1E;
}

QPushButton#button2:hover {
    color: #E54100;
}


QPushButton#button1:disabled {
    border-radius: 12px;
    background: rgba(30, 30, 30, 0.40);
    color: rgba(255, 255, 255, 0.40);
}

QPushButton#button2:disabled {
    border-radius: 12px;
    background: rgba(230, 146, 97, 0.00);
    color: rgba(30, 30, 30, 0.40);
}

